/* ajax search start */
.search-container {
    position: relative;
    width: 300px;
}

#search-results {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    width: 100%;
    z-index: 1000;
}

#results-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.result-item {
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.result-item:hover {
    background-color: #f0f0f0;
}

.result-item img {
    margin-right: 10px;
}

.result-details {
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: bold;
}

.product-price {
    color: #888;
}

/* ajax search end */

/*Frontend Fixing*/

.tp-slider-thumb {
    max-height: 395px;
}

.tp-product-category-thumb a img {
    width: 76px;
    height: 98px;
}

.trending-products a img {
    width: 282px;
    height: 242px;
}

.random-products a img {
    width: 248px;
    height: 240px;
}

.new-arrivals a img {
    width: 282px;
    height: 242px;
}

.dfs-products a img {
    width: 140px;
    height: 140px;
}

.tp-product-details-nav-main-thumb {
    width: 580px;
    height: 670px;
}

.related-products a img {
    width: 282px;
    height: 242px;
}






